/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #333;
  background-color: #1f242d;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

/* Header Styles */
header {
  background: #323946;
  color: #fff;
  padding: 2px 0;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
}

/* Footer Styles */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

footer p {
  margin: 0;
}

/* skill section  */

.skills-section {
  max-width: 900px;
  margin: 40px auto;
  background: #1f242d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Skills container with grid layout */
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 10px;
}

/* Skill box */
.skill-box {
  background: #323946;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: 0.3s ease-in-out;
}

.skill-box:hover {
  transform: translateY(-5px);
}

/* Toggle button */
.skill-toggle {
  width: 100%;
  background: #0056b3;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.skill-toggle:hover {
  background: #0ef;
}

/* Grid-based skills layout */
.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  padding: 15px 0;
  display: none;
  /* Hidden initially */
}

.skill-item {
  background: #ddd;
  padding: 12px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.skill-item:hover {
  background: #007bff;
  color: white;
}